<!DOCTYPE html>
<html lang="en">
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta charset="UTF-8">
    <meta name="csrf-token" content="{{ csrf_token() }}"/>
    <title>Welcome!</title>
    {% block stylesheet %}
        <link href="{{ url_for('static', filename='css/bootstrap.css') }}" rel="stylesheet">
        <link href="{{ url_for('static', filename='css/common.css') }}" rel="stylesheet">
    {% endblock %}
</head>
<body>
<img src="../static/images/Aquaman1.jpg" style='height: 100%; width: 100%; object-fit: contain'/>
<img src="../static/images/Aquaman2.jpeg" style='height: 100%; width: 100%; object-fit: contain'/>
<img src="../static/images/Aquaman3.jpeg" style='height: 100%; width: 100%; object-fit: contain'/>
</body>
</html>